:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}



*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  min-height: 100vh; /* 1 */
  font-family: 'Outfit', sans-serif;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}


.card-container {
  background-color: var(--white);
  border-radius: 1.5em;
  width: 320px;
  

  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}

img {
  border-radius: 0.8em;
  width: 100%;
}

.card-info {
  margin-top: 1.5rem;
  text-align: center;
}

h2 {
  color: var(--darkblue);
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: var(--grayishblue);
  line-height: 18.9px;

  margin-top: 1rem;
}